.background{
    -fx-background-color:linear-gradient(to bottom right, #276acf, #032d4d);
    -fx-border-width:.4px 0px .4px .4px
}

.background2{
    -fx-background-color:linear-gradient(to bottom right, #276acf, #032d4d);
    -fx-border-width:.4px 0px .4px .4px;
    -fx-background-radius:8;
}

.btn_masuk{
    -fx-background-color:#ffffff;
    -fx-background-radius: 30;
    -fx-cursor:hand;
    -fx-text-fill:#000;
}

.btn_masuk:hover{
    -fx-background-color:linear-gradient(to bottom right, #FDB91F, #E73D25);
    -fx-text-fill:#ffff;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 10.0, 0.0, 10.0,10.0);
}

.menu_btn{
    -fx-background-color:transparent;
    -fx-background-radius: 0;
    -fx-cursor:hand;
    -fx-font-family:"Arial";
    -fx-font-size:14px;
    -fx-text-fill:#fff;
    -fx-alignment: CENTER-LEFT;
}

.menu_btn:hover{
    -fx-background-color:#fff;
    -fx-background-radius: 30;
    -fx-cursor:hand;
    -fx-font-family:"Arial";
    -fx-font-size:14px;
    -fx-text-fill:#2E2E44;
    -fx-alignment: CENTER-LEFT;
}

.menu_btn:focused{
    -fx-background-color:#fff;
    -fx-background-radius: 30;
    -fx-cursor:hand;
    -fx-font-family:"Arial";
    -fx-font-size:14px;
    -fx-text-fill:#2E2E44;
    -fx-alignment: CENTER-LEFT;
}

.scroll_pane{
    -fx-background-color:#2E2E44;
}

.scroll_pane_0{
    -fx-background-color:transparent;
}

.white_bg{
    -fx-background-color:#ffffff;
    -fx-background-radius: 8;
}

.search_box_outer{
    -fx-background-color:#2E2E44;
    -fx-background-radius: 30;
}

.transparent{
    -fx-background-color:transparent;
}

.search_field{
    -fx-background-color:transparent;
    -fx-text-fill:#fff;
}

.btn_find{
    -fx-background-color:#ffffff;
    -fx-background-radius: 30;
    -fx-cursor:hand;
    -fx-text-fill:#000;
}

.btn_find:hover{
    -fx-background-color:linear-gradientlinear-gradient(to bottom right, #276acf, #276acf);
    -fx-text-fill:#ffff;
}

.table-view {
	-fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #276acf, #032d4d);
    -fx-border-radius:8px 8px 8px 8px;
}
.table-view .column-header-background,
.table-view .column-header-background .filler {
	-fx-background-color: linear-gradient(to bottom right, #276acf, #032d4d);
	-fx-background-inset: 0 0 0 0;
    -fx-background-radius:8px 8px 0px 0px;
}
.table-view .column-header {
	-fx-background-color: -fx-light-grey-color;
	-fx-border-color: -fx-grey-color;
}
.table-view .column-header .label{
	-fx-font-weight: bold;
	-fx-alignment: center;
	-fx-text-fill:white
}
.table-row-cell:filled:hover {
	-fx-background-color: #FDB91F;
	-fx-text-fill: white;
}
.table-row-cell:selected .table-cell {
  	-fx-background-color: #032d4d;
  	-fx-text-fill : white;
}
.textfield{
    -fx-background-color: linear-gradient (to bottom, #efefef, #eee);
    -fx-border-color: linear-gradient(to bottom right, #276acf, #032d4d);
    -fx-border-width:.8px;
    -fx-font-family: "Tahoma";
    -fx-border-radius: 4px;
}
.textfield:focused{
    -fx-border-width:1.8px;
    -fx-background-color:#fff;
}

.btn_clear{
    -fx-background-color:#2E2E44;
    -fx-background-radius: 30;
    -fx-cursor:hand;
    -fx-text-fill:#ffff;
}

.btn_clear:hover{
     -fx-background-color:#ffff;
        -fx-border-color: #2E2E44;
        -fx-border-width:2px;
        -fx-text-fill:#000;
        -fx-border-radius: 30;
}

.shadow2{
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 5.0, 0.0, 6.0,6.0);
}

.btn_updatedkk{
    -fx-background-color:#276acf;
    -fx-background-radius: 30;
    -fx-cursor:hand;
    -fx-text-fill:#ffff;
}

.btn_updatedkk:hover{
    -fx-background-color:#ffff;
    -fx-border-color: linear-gradient(to bottom right, #276acf, #032d4d);
    -fx-border-width:2px;
    -fx-text-fill:#000;
    -fx-border-radius: 30;

}

.btn_export{
    -fx-background-color:#ffff;
        -fx-border-color: #276acf;
        -fx-background-radius: 30;
        -fx-border-width:2px;
        -fx-text-fill:#000;
        -fx-border-radius: 30;
}

.btn_export:hover{
    -fx-background-color:#276acf;
        -fx-background-radius: 30;
        -fx-cursor:hand;
        -fx-text-fill:#ffff;
        -fx-border-radius: 30;
}